* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, "PingFang SC", "Microsoft Yahei", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 18px;
}

body {
    margin: 0;
    --color-text: #fff;
    --color-bg: #000;
    --color-link: #5a5a5a;
    --color-link-hover: #3eaaf1;
    --color-alt: #3ba2e5;
    --color-info: #e93f3b;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: ltc-bodoni-175, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* 图片默认宽度100% */
img {
    width: 100%;
}


header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

nav {
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 99;
}

.card {
    min-height: 260px;
}

.about-card {
    display: grid;
    grid-template-columns: 100px 1fr;
    text-align: left;
}


@keyframes myfirst {
    from {
        background: red;
    }

    to {
        background: yellow;
    }
}

@-webkit-keyframes myfirst {
    from {
        background: red;
    }

    to {
        background: yellow;
    }
}



.content {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 13rem);
    position: relative;
    justify-content: flex-start;
    align-items: center;
    /* margin-top: -68px; */
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}

canvas {
    width: 100%;
    height: calc(100vh);
}

@media screen and (min-width: 53em) {
    .message {
        display: none;
    }

    .frame {
        position: fixed;
        text-align: left;
        z-index: 100;
        top: 0;
        left: 0;
        display: grid;
        align-content: space-between;
        width: 100%;
        max-width: none;
        height: 100vh;
        padding: 2.5rem 4.5rem;
        pointer-events: none;
        grid-template-columns: 75% 25%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 'title info'
            '... ...'
            '... demos';
    }

    .frame__title-wrap {
        grid-area: title;
        display: flex;
    }

    .frame__title {
        margin: 0 8vw 0 0;
    }

    .frame__demos {
        margin: 0;
        grid-area: demos;
        justify-self: end;
    }

    .frame__links a {
        display: inline-block;
    }

    .frame__info {
        justify-self: end;
    }

    .frame a {
        pointer-events: auto;
    }

    .content {
        height: 100vh;
        justify-content: center;
    }
}

@font-face {
    font-family: 'webfont';
    font-display: swap;
    src: url('../static/font/webfont.eot'); /* IE9*/
    src: url('../static/font/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../static/font/webfont.woff2') format('woff2'),
    url('../static/font/webfont.woff') format('woff'), /* chrome、firefox */
    url('../static/font/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../static/font/webfont.svg#站酷小薇体') format('svg'); /* iOS 4.1- */
  }

.sphere {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.sphere2 {
    width: 100vw;
    height: 100vh;
}

.content_title {
    position: absolute;
    top: calc(50% - 14vmin / 2);
    left: 0;
    width: 100%;
    color: #ffffff;
    font-size: 10vmin;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    text-align: center;
    outline: none;
    font-family: 'webfont'!important;;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

.content_link {
    text-decoration: underline;
    font-family: "宋体";
    font-size: 1.1rem;
    color: inherit;
}